@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(247, 247, 247);
    font-size: 14px;
}


.app{
    min-height: 100vh;
}

.comments{
    height: 350px;
}

input::placeholder, textarea::placeholder{
    font-style: italic;
    font-size: 13px;
}